.openbtn {
    position: relative;
    margin-top: 3em;
}

.logo {
    margin: 1em;
    width: 50vw;
}

h1, h2 {
    margin: auto;
    font-family: 'Major Mono Display', serif;
}

.Title {
    margin-bottom: 0;
}

.Subtitle {
    margin-top: 0;
}

h3 {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}