<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}</h1>
  <h2></h2>
  <img width="128px" alt="skrigm Logo" src="../assets/role-playing-game.png">
  <ul>
    <h2>Here are some links to help you start: </h2>
    <li>
      <h3><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h3>
    </li>
    <li>
      <h3><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h3>
    </li>
    <li>
      <h3><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h3>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>