/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0; 
    font-family: 'Wire One', sans-serif; 
}

ul {
    list-style: none;
    margin: auto;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-top: 1em;
}